
$color-n0: #ffffff;
$color-n1: #575F6B;
$color-n2: #00ABC2;
$color-n3: #BEE0E9;

.content_color_n0 {
	color: $color-n0;
}

.content_color_n0 path {
	fill: $color-n0;
}

.content_color_n0 rect {
	fill: $color-n0;
}

.content_color_n0 circle {
	fill: $color-n0;
}

.content_color_n0-hover:hover {
	color: $color-n0;
}

.content_color_n0-hover:hover path {
	fill: $color-n0;
}

.content_color_n0-hover:hover rect {
	fill: $color-n0;
}

.content_color_n0-hover:hover circle {
	fill: $color-n0;
}

.text_color_n1 {
	color: $color-n1;
}

.content_color_n1 {
	color: $color-n1;
}

.content_color_n1 path {
	fill: $color-n1;
}

.content_color_n1 rect {
	fill: $color-n1;
}

.content_color_n1 circle {
	fill: $color-n1;
}

.content_color_n1-hover:hover {
	color: $color-n1;
}

.content_color_n1-hover:hover path {
	fill: $color-n1;
}

.content_color_n1-hover:hover rect {
	fill: $color-n1;
}

.content_color_n1-hover:hover circle {
	fill: $color-n1;
}

.content_color_n2 {
	color: $color-n2;
}

.content_color_n2 path {
	fill: $color-n2;
}

.content_color_n2 rect {
	fill: $color-n2;
}

.content_color_n2 circle {
	fill: $color-n2;
}

.content_color_n2-hover:hover {
	color: $color-n2;
}

.content_color_n2-hover:hover path {
	fill: $color-n2;
}

.content_color_n2-hover:hover rect {
	fill: $color-n2;
}

.content_color_n2-hover:hover circle {
	fill: $color-n2;
}