@import "variables";
@import "bootstrap-grid";

@import "common-styles";
@import "../../templates/widgets/pages-header/style";

body {
	font-family: 'Fira Sans', sans-serif;
	background-color: #1d232d;
}

p, li, td, th {
	font-size: 1.06rem;
	line-height: 1.7rem;
	color: #272727;
}

blockquote p {
	color: #666;
}

.content_wrapper {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

[data-group=page_content][data-role=wrapper] {
	background: #f1f1f1;
    border-right: 5px solid #7e828a;
    border-bottom: 5px solid #7e828a;
	padding: 22px;
	margin-top: 16px;
	margin-left: 16px;
	border-radius: 10px;
	padding-top: 10px;
}

[data-group=sidebar_content][data-role=wrapper] {
	background: #f1f1f1;
    border-right: 5px solid #7e828a;
    border-bottom: 5px solid #7e828a;
	padding: 22px;
	margin-top: 16px;
	border-radius: 10px;
}

[data-group=sidebar_content][data-role=wrapper] strong {
	color: #142131;
	display: block;
    border-bottom: 1px dotted #142131;
    padding-bottom: 5px;
}

[data-group=sidebar_content][data-role=wrapper] ul {
	margin-left: 0px;
	padding-left: 20px;
	margin: 12px 0px;
}

[data-group=sidebar_content][data-role=wrapper] ul li {
	margin-top: 20px;
	line-height: 1.45rem;
	list-style: circle;
}

[data-group=sidebar_content][data-role=wrapper] ul li.active {
    list-style: none;
}

[data-group=sidebar_content][data-role=wrapper] ul li.active::before{
    content: ">";
    margin-left: -16px;
    position: absolute;
}

[data-group=sidebar_content][data-role=wrapper] ul li a {
	color: #000;
	font-size: 1.06rem;
	font-weight: 400;
}

a {
	/* color: #4183c4; */
	color: #246eb7;
	/* color: #385d84; */
}

h1 {
	border-bottom: 1px dotted #142131;
	font-size: 26px;
	font-weight: 500;
	color: #142131;
}


[data-group=breadcrumbs][data-role=wrapper] {
	/* background: #babfcc; */
	/* background: #b9beca; */
	padding: 14px 22px;
	margin-top: 16px;
	line-height: 24px;
	/* border: 5px solid #999fa9; */
    border-left: 0px;
    border-top: 0px;
    color: #e8f0f7;
}
[data-group=breadcrumbs][data-role=wrapper] svg {
	height: 24px;
	width: auto;
}
[data-group=breadcrumbs][data-role=wrapper] svg path {
	fill:#e8f0f7;
}
[data-group=breadcrumbs][data-role=wrapper] [data-role=divider] {
	margin-left: 8px;
	margin-right: 8px;
}


/* Small */
@media screen and (max-width: $small-size-max-width) {

	[data-group=page_content][data-role=wrapper] {
		margin-right: 16px;
		margin-left: 16px;
	}

	[data-group=sidebar_content][data-role=wrapper] {
		margin-right: 16px;
		margin-left: 16px;
	}
}

hr[data-group=breadcrumbs] {
	margin: 0px;
	height: 0px;
	border: 0px;
    border-top: 3px solid #bcc1c5;
    //border-bottom: 1px solid #5a5a5a;
}

ol[data-group=breadcrumbs] {
	margin: 0px;
    padding: 6px 0px;
}

ol[data-group=breadcrumbs] li {
	display: inline-block;
	list-style: none;
	margin: 5px;
	line-height: 1.4rem;
}


ol[data-group=breadcrumbs] li a {
	color: #151515;
}

ol[data-group=breadcrumbs] li span {
	color: #151515;
	font-size: 1rem;
}
















































.contents {
	font-size: 18px;
}

.h2 {
	padding-bottom: 0.3em;
    border-bottom: 1px solid #c9cbce;
    position: relative;
    margin-top: 1em;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 22px;
	display: flex;
	font-weight: 500;
	color: #142131;
}

.console {
	font-family: "Ubuntu Mono", monospace;
    background: #f5f5f5;
    /* background: #404040; */
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.console pre {
    color: #000;
    overflow: auto;
}

.console li {
	list-style: none;
    color: #000;
}

.console li:before {
    content: attr(data-prefix);
    display: inline-block;
    margin: 0 10px 0 5px;
    text-align: right;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bordered {
	border: 1px solid #d0d3d6;
}

.bordered td, .bordered th {
	border-right: 1px solid #d0d3d6;
	border-bottom: 1px solid #d0d3d6;
	padding: 10px 15px;
}

.bordered tr:hover td {
	background: #dcdcdc;
}

.note-info {
	border: 1px solid #cdcdcd;
	border-left: 4px solid #5289d0;
	display: flex;
	margin: 1rem 0;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;
} 

.note-info p {
	margin: 0px;
}

.note-info::before {
	content: "";
    display: block;
    height: 1rem;
    width: 1rem;
    background: url('/images/svg/note-info.svg');
    position: absolute;
    left: 1rem;
    top: 1.5rem;
}

.note-caution {
	border: 1px solid #cdcdcd;
	border-left: 4px solid #f99b11;
	display: flex;
	margin: 1rem 0;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;
} 

.note-caution p {
	margin: 0px;
}

.note-caution div strong {
	display: block;
    padding-bottom: 6px;
}

.note-caution::before {
	content: "";
    display: block;
    height: 1rem;
    width: 1rem;
    background: url("data:image/svg+xml,%3Csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M9.34 1.2l5.842 11.627A1.5 1.5 0 0113.842 15H2.158a1.5 1.5 0 01-1.34-2.173L6.66 1.2a1.5 1.5 0 012.68 0z' fill='%23f99b11'/%3E%3Cpath d='M8.5 11a.5.5 0 01.492.41L9 11.5v1a.5.5 0 01-.41.492L8.5 13h-1a.5.5 0 01-.492-.41L7 12.5v-1a.5.5 0 01.41-.492L7.5 11h1zM9 5v4.5H7V5h2z' fill='%23FFF'/%3E%3C/g%3E%3C/svg%3E");
    position: absolute;
    left: 1rem;
    top: 1.5rem;
}