@import "variables";
@import "bootstrap-grid";

@import "common-styles";
@import "../../templates/widgets/pages-header/style";

body {
	font-family: 'Fira Sans', sans-serif;
	background-color: #1d232d;
}

p, li, td, th {
	font-size: 17px;
	line-height: 25px;
	color: #000;
}

blockquote p {
	color: #666;
}

.content_wrapper {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

[data-group=page_content][data-role=wrapper] {
	background: #fafcff;
    border-right: 5px solid #7e828a;
    border-bottom: 5px solid #7e828a;
	padding: 22px;
	margin-top: 16px;
	margin-left: 16px;
	border-radius: 10px;
}

[data-group=sidebar_content][data-role=wrapper] {
	background: #fafcff;
    border-right: 5px solid #7e828a;
    border-bottom: 5px solid #7e828a;
	padding: 22px;
	margin-top: 16px;
	border-radius: 10px;
}

[data-group=sidebar_content][data-role=wrapper] ul {
	margin-left: 0px;
	padding-left: 18px;
}

[data-group=sidebar_content][data-role=wrapper] ul li {
	margin-top: 24px;
	line-height: 20px;
    list-style: none;
}

[data-group=sidebar_content][data-role=wrapper] ul li::before{
    content: "\00BB";
    margin-left: -16px;
    position: absolute;
}

[data-group=sidebar_content][data-role=wrapper] ul li a{
	color: #000;
	font-size: 17px;
	font-weight: 300;
}

a {
	color: #4183c4;
}

h1 {
	border-bottom: 1px dotted #7e828a;
	font-size: 26px;
	font-weight: 400;
}


[data-group=breadcrumbs][data-role=wrapper] {
	/* background: #babfcc; */
	/* background: #b9beca; */
	padding: 14px 22px;
	margin-top: 16px;
	line-height: 24px;
	/* border: 5px solid #999fa9; */
    border-left: 0px;
    border-top: 0px;
    color: #e8f0f7;
}
[data-group=breadcrumbs][data-role=wrapper] svg {
	height: 24px;
	width: auto;
}
[data-group=breadcrumbs][data-role=wrapper] svg path {
	fill:#e8f0f7;
}
[data-group=breadcrumbs][data-role=wrapper] [data-role=divider] {
	margin-left: 8px;
	margin-right: 8px;
}


/* Small */
@media screen and (max-width: $small-size-max-width) {

	[data-group=page_content][data-role=wrapper] {
		margin-right: 16px;
		margin-left: 16px;
	}

	[data-group=sidebar_content][data-role=wrapper] {
		margin-right: 16px;
		margin-left: 16px;
	}
}

















































.contents {
	font-size: 18px;
}

.h2 {
	padding-bottom: 0.3em;
    border-bottom: 1px solid #d9dde2;
    position: relative;
    margin-top: 1em;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 22px;
}

.console {
	font-family: "Ubuntu Mono", monospace;
    background: #2e3a4a;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #1b1b1c;
}

.console li {
	list-style: none;
    color: #ffffff;
}

.console li:before {
    content: attr(data-prefix);
    display: inline-block;
    margin: 0 10px 0 5px;
    text-align: right;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}