[data-group=pages_header][data-role=wrapper] {
  background: #354f71;
  border-bottom: 5px solid #23354c;
}

[data-group=pages_header] [data-role=logo] div {
  height: 57px;
}

[data-group=pages_header] [data-role=logo] a {
  padding: 15px 17px;
  line-height: 9px;
  background: #23354c;
}

[data-group=pages_header] [data-role=logo] svg {
  height: 30px;
}

[data-group=pages_header] nav ul li {
  margin: 0px 10px;
}

[data-group=pages_header] nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 16px;
  display: block;
  font-size: 18px;
}

[data-group=pages_header] nav ul li a:hover {
  text-decoration: underline;
}
